/*
    Author: Michael Harhay

    Date created: 17/02/2024
    Date modified: 27/08/2024

    Functionality: Style of website
*/

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove scroll bar */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* General body text */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: auto;

    font-family: 'Fira Code', Courier, monospace;
    background-color: black;
    text-align: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Content Boxes */
.aboutbox {
    position: relative;
    left: 0;
    width: clamp(350px, 75cqw, 1000px);
    background-color: rgb(58, 58, 58);
    opacity: 90%;
    margin-bottom: 20px;

    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

.projectbox {
    position: relative;
    left: 0;
    height: auto;
    width: clamp(300px, 90cqw, 1300px);
    background-color: rgb(58, 58, 58);
    opacity: 90%;
    margin-bottom: 5cqh;

    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

/* Footer */
footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 3;
    align-items: center;  
    opacity: 0;
    transition: 0.4s;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 1.5vh; 
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(58, 58, 58, 0.75);
}

/* Navbar */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

nav a {
    text-align: center;
    cursor: pointer;
    opacity: 100%;
    transition-duration: 0.3s;

    color: white;
    font-family: 'Fira Code', Courier, monospace;
    font-size: clamp(14px, 1.1em, 18px);
    text-decoration: none;
}

nav a:hover, nav a:focus {
    cursor: pointer;
    color: rgb(58, 58, 58);
    background-color: white;
    border-radius: 10px;
    padding: 3px 8px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin: 1%;
    position: relative;
    z-index: 2;
}

.blank {
    min-height: 0vh;
    height: 5vh;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
    padding: 1.5cqh;
}

.horizontal-line {
    width: 100%;
    background-color: white;
    color: rgb(58, 58, 58);
    border-style: dashed;
}

.fade {
    opacity: 0;
    transition: all 1s;
}

.fade.visible {
    opacity: 1;
}

/* Heading 1 */
h1 {
    color: white;
    font-family: 'Fira Code', Courier, monospace;;
    font-size: clamp(24px, 19cqw, 120px);
    text-align: center;
    padding: 20px;
}

/* Heading 2 */
h2 {
    color: white;
    font-family: 'Fira Code', Courier, monospace;
    font-size: clamp(36px, 5cqw, 48px);
    text-align: center;
    padding: 5cqh;
    margin-top: 50px;
}

h3 {
    color: white;
    font-family: 'Fira Code', Courier, monospace;
    font-size: clamp(24px, 4cqw, 48px);
    text-align: center;
    padding: 2.5cqh;
}

/* Images */
img {
    height: auto;
    margin: auto;
    opacity: 100%;

    border: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}

img.project {
    width: clamp(150px, 35cqw, 400px);
    height: auto;
    max-height: 450px;
}

img.profile {
    width: clamp(100px, 35cqw, 400px);

}

/* Paragraph text */
p {
    color: white;
    font-family: 'Fira Code', Courier, monospace;
    font-size: clamp(12px, 2.2cqw, 24px);

    margin-left: 10%;
    margin-right: 10%;
}

p.foottext {
    display: inline-block;
    background-color: rgba(58, 58, 58, 0.75);
    font-size: clamp(12px, 1cqw, 18px);
    padding: 10px;
    border-radius: 10px;
}

a.plink {
    color: white;
    font-family: 'Fira Code', Courier, monospace;
    font-size: clamp(12px, 2.2cqw, 24px);
    background-color: blue;
    transition-duration: 0.4s;
}

a.plink:hover {
    cursor: pointer;
    color: rgb(58, 58, 58);
    background-color: white;
}

ul {
    text-align: left;
    margin-bottom: 1cqh;
}

li {
    color: white;
    font-family: 'Fira Code', Courier, monospace;
    font-size: clamp(12px, 2.2cqw, 24px);
    justify-content: left;

    margin-left: 10%;
    margin-right: 10%;
}

.left {
    flex: 1;
    text-align: left;
    max-width: 50%;
    margin: 0;
    padding: 3%;
    box-sizing: border-box;
}

/* Input forms */
.contactpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    background-color: white;
    width: clamp(300px, 70%, 800px);
    border-radius: 10px;
    border-color: black;
    margin-bottom: 3cqh;

    padding: 16px 16px;
    font-family: 'Fira Code', Courier, monospace;
    font-size: 18px; 
}

textarea {
    background-color: white;
    width: clamp(300px, 70%, 800px);
    border-radius: 10px;
    border-color: black;
    margin-bottom: 3cqh;

    padding: 16px 16px;
    font-family: 'Fira Code', Courier, monospace;
    font-size: 18px; 
}

input:focus-within {
    outline-width: 1px;
    outline-color: rgb(58, 58, 58);
}

textarea:focus-within {
    outline-width: 1px;
    outline-color: rgb(58, 58, 58);
}

button {
    display: flex;
    margin: auto;
    background-color: rgb(58, 58, 58);
    border-radius: 10px;

    text-align: center;
    font-family: 'Fira Code', Courier, monospace;
    font-size: 18px;
    color: white;
    padding: 12px 20px;
    transition-duration: 0.3s;
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

/* Socials */
.socials {
    color: white;
    margin-top: 35px;
    text-decoration: none;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a:visited, .socials a:active {
    color: white;
}

.socials i {
    padding: 0px 8px;
}

.socials i:hover {
    transition-duration: 0.3s;
    text-decoration: none;
    color: grey;
}